<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
   <h1>Here is a list of Posts<h1/>
    <ul>
        <li>Adnan</li>
        <li>Is-haq</li>
        <li>Ola</li>
    </ul>
  </body>
</html>